.video {
  width: 900px;
  border-radius: 10px;
}
.videoc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container p {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 1.3rem;
}

.thumbnail {
  width: 15rem;
  border-radius: 10px;
}

.downloaded {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.containerdownload {
  padding: 0.5rem;
}

.downloadedvideos:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.downloadedvideos {
  transition: 0.5s ease-in-out;
}
.containerAll {
  margin-top: 4rem;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  gap: 1rem;
}

.search a {
  width: 25rem;
}

.search a div {
  flex-direction: row;
  display: flex;
  gap: 0.2rem;
}

.search a div video {
  width: 10rem;
}
.containerdownload2 {
  padding: 0.5rem;
  margin-top: 2rem;
}

.title {
  font-size: 2rem;
}
